<div class="headerrrr" style="background-color:lightyellow">
  <div>
    <h1>_ARCHITEKT</h1>
  </div>
  <div>
    Filler text
  </div>
</div>

<div>
<div>
  <a href="http://localhost:4020/login">Login</a>
</div>
<div>
  <a href="http://localhost:4020/register">Register</a>
</div>
Logged in as : {{user.username}}
<br>
<a href="http://localhost:4020/logout">Log Out</a>
</div>