<div class="header">
  <div class="headerTitle">
    <h1 class="title">_ A R C H I T E K T</h1>
  </div>
  <div class="headerText">
    I'VE COME HERE TO SAVE YOU, AND I CAN ALREADY TASTE THE KILL. LIKE CARESSING AN ANGEL, BURNING UP IN THE ATMOSPHERE. AND WITH THE BLOOD OF A DYING STAR ABOVE, MY TRUE AESTHETIC'S UNWINDING AND I'M ABOUT TO UNDONE
  </div>
</div>

<div class="regLogContainer">
  <div class="registerLogin">
    <div>
      <a href="http://localhost:4020/login" class="toLogin">Login</a>
    </div>
    <div>
      <a href="http://localhost:4020/register">Register</a>
    </div>
  </div>
</div>

{{!-- 
<br>
<br>
<br>Change later
<br> Logged in as : {{user.username}}
<br>
<a href="http://localhost:4020/logout">Log Out</a> --}}