<form method="POST" enctype="application/x-www-form-urlencoded">
  <h4>Author</h4>
  <input type="text">
  <h4>Link</h4>
  <input type="text">
  <h4>Description</h4>
  <input type="text">
  <br>
  <input type="submit">
</form>