{{> header}}

<div class="listing_main_container">
  <div class="listing_featured_img">listing featured img</div>
  
  <div class="listing_row_container">
    <div class="listing_row_cell">
      <div class="listing_img">listing img</div>
      <div class="listing_title">listing title</div>
    </div>
  </div>

  <div class="listing_row_container">
    <div class="listing_row_cell">
      <div class="listing_img">listing img</div>
      <div class="listing_title">listing title</div>
    </div>
  </div>

</div>

{{!-- 
{{#each allModels}}
{{attributes.author}}<br>
{{attributes.description}}
{{/each}}
  --}}